@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EDE4D2; /* 배경 색상 */
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  background-image: url('/background.webp'); /* 백그라운드 이미지 추가 */
  background-repeat: no-repeat;
  background-position: center bottom; /* 데스크탑에서는 하단 가운데 고정 */
  background-size: auto;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

/* 모바일 환경에서 반응형 스타일 적용 */
@media (max-width: 768px) {
  body {
    background-position: center center; /* 모바일에서 이미지 가운데 정렬 */
    background-size: auto 100%; /* 모바일에서는 배경을 높이 100%에 맞춤 */
  }
}
